#main_panel_container.left
  #dashboard
    %h2.ico_world
      = "Sites (#{sites.size})"
    #sites_table.section
      %table#table{:width=>"499px"}
        %thead
          %tr
            %th
              Name
            %th
              Domain
            %th
              Page Count
            %th
              Status
        %tbody
        - sites.each do |site|
          %tr.site_row{:id=>"site|#{site.pid}"}
            %td
              = site.name
            %td
              = site.pid
            %td
              = site.page_count
            %td
              = site.status
  /
    end #dashboard

= haml :'admin/sidebar', :layout=>false

%script{ :type => "text/javascript", :src => "/js/site-list.js" }
