#main_panel_container.left
  #dashboard
    %h2.ico_world
      = "Sites (#{sites.size})"
    #tabledata.section
      %table#table{:width=>"499px"}
        %thead
          %tr
            %th
              Name
            %th
              Domain
            %th
              Title
        %tbody
        - sites.each do |site|
          %tr
            %td
              = site.name
            %td
              = site.pid
            %td
              = site.title
  /
    end #dashboard

= haml :'admin/sidebar', :layout=>false
